@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NetflixFont';
  src: url('/fonts/NetflixSans_W_Th.woff2') format('woff');
  font-weight: 100; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'NetflixFont';
  src: url('/fonts/NetflixSans_W_Lt.woff2') format('woff');
  font-weight: 300; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'NetflixFont';
  src: url('/fonts/NetflixSans_W_Rg.woff2') format('woff');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'NetflixFont';
  src: url('/fonts/NetflixSans_W_Md.woff2') format('woff');
  font-weight: 500; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'NetflixFont';
  src: url('/fonts/NetflixSans_W_Bd.woff2') format('woff');
  font-weight: 700; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'NetflixFont';
  src: url('/fonts/NetflixSans_W_Blk.woff2') format('woff');
  font-weight: 900; /* Regular weight */
  font-style: normal;
}